/* Button.css */

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ebe14b; /* Button background color */
    color: #333; /* Button text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
    text-decoration: none; /* Remove default link underline */
    transition: background-color 0.5s ease; /* Smooth transition for background color */
  }
  
  .button:hover {
    background-color: #f9bf00; /* Dark yellow background color on hover */
  }
  